<p>Booking flight Details!</p>
<button (click) = "backToHome()">Back</button>
<br>
<div>
    <strong>ID:</strong>
    <label>{{bookFlightDetails.id}}</label><br>
    <strong>Flight Name:</strong>
    <label>{{bookFlightDetails.flightName}}</label><br>
    <strong>Source:</strong>
    <label>{{bookFlightDetails.source}}</label><br>
    <strong>Destination:</strong>
    <label>{{bookFlightDetails.destination}}</label><br>
    <strong>Fare:</strong>
    <label>{{bookFlightDetails.fare}}</label><br>
    <button (click) = "confirm()">Confirm</button>
</div>